@import 'src/styles-variables';
@import 'src/styles';

@mixin images {
    display: block;
    margin-top: 40px;
    width: auto;
}

.container_content {
    @include es_global;
}
.img{
    @include images;
}
