@import 'src/styles-variables';
@import 'src/styles';


.container_content {
    @include es_global;
}
.pc{
    display: block;
    margin-top: 40px;
    max-width: none;
    min-width: 10px;
    margin-left: auto;
    margin-right: auto;
}
