/* You can add global styles to this file, and also import other style files */

@import "styles-variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid'; 
@import url('https://fonts.googleapis.com/css?family=Montserrat');


$primary: #FA0A80;
$bodyc: #3B3F48;
$primary_font_fam: 'Montserrat', 'sans-serif';
$primary_font_size: 15px;

@mixin es_global {
    color: $bodyc;
    text-align: center;
    font-family: $primary_font_fam;
    font-size: $primary_font_size;
    margin-top: 50px;
    margin-left: 30px auto;
    margin-right: 30px auto;
    
}
body{
    @include es_global;

}

.container{
    width: 80%;
    margin: 0% auto;

}

header{
    background: $primary;
    padding: 1em 0;
    align-content: flex-end;

    a{
        color: white;
        text-decoration: none;
        font-weight: 400;
        font-family: $primary_font_fam;
        font-size: $primary_font_size;

        &:hover{
            color: white;
            text-decoration: none;
        }
        .arrow{
            width: 20px;
        }
    }

    .title{
        text-align: center;
        font-family: $primary_font_fam;
        font-size: $primary_font_size;
    }
}